In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
exams = pd.read_csv("./exams.csv")
exams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [3]:
exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68

In [4]:
exams.columns = [c.replace(" ", "_") for c in exams.columns]
exams.rename(columns = {'race/ethnicity':'ethnic',
                       'parental_level_of_education': 'parental_edu',
                       'test_preparation_course': 'prep_course'}, inplace = True)

In [5]:
cat_var_names = []
for c in exams.columns:
    if exams[c].dtype in ["object", "category"]:
        cat_var_names.append(c)
        print(f"{c}\n{exams[c].unique()}\n")

gender
['male' 'female']

ethnic
['group A' 'group D' 'group E' 'group B' 'group C']

parental_edu
['high school' 'some high school' 'some college' "associate's degree"
 "bachelor's degree" "master's degree"]

lunch
['standard' 'free/reduced']

prep_course
['completed' 'none']

In [6]:
exams_dummy['agg_score'] = exams_dummy[['math_score', 'reading_score', 'writing_score']].mean(axis=1)
score_vars = ['math_score', 'reading_score', 'writing_score', 'agg_score']
exams_dummy[score_vars].describe()

NameError: name 'exams_dummy' is not defined

In [ ]:
exams.head()

In [ ]:
sns.countplot(y=exams['gender']);

In [ ]:
fig, ax = plt.subplots(1,3)
sns.barplot(x=exams['gender'],y=exams['reading_score'], ax=ax[0])
sns.barplot(x=exams['gender'],y=exams['writing_score'],ax=ax[1])
sns.barplot(x=exams['gender'],y=exams['math_score'],ax=ax[2]);

In [ ]:
sns.countplot(exams['prep_course'])

In [ ]:
sns.countplot(exams['parental_edu'])

In [ ]:
exams['parental_edu'].value_counts()[:10].plot(kind = 'pie' , autopct = '%1.1f%%' , shadow = True , explode = [0.1,0,0,0,0,0])
fig = plt.gcf()
fig.set_size_inches(7,7)
plt.show()

In [ ]:
exams['math_score'].hist()